@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .display-flex{
    display: flex;
  }

  .brand{
    font-size: 3rem;
    font-weight: bold;
  }

  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }

  .list-item{
    list-style: none;
    margin-right: 30px;
  }

  .nav-link{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
  }

  .navbar{
    justify-content: space-between;
    align-items: center;
  }

  .navbar, .banner{
    max-width: 1152px;
    margin: 0 auto;
  }

  .banner-conten{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
  }

  .h-1{
    font-size: 4rem;
    font-weight: bold;
  }

  .para{
    font-size: 1rem;
    font-weight: 400;
    color: #727272;
  }

  .btr{
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #FF900E;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
  }

  .image{
    width: 100%;
  }

  @media screen and (max-width:576px) {
    .navbar,.nav-links{
        flex-direction: column;
    }
  }